@import 'src/assets/styles/commonStyle';

.widget-view-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include phone-portrait {
    max-width: 280px;
    margin: 30px 0 10px;
  }

  .widget-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px;
    height: 100%;

    &__name {
      font-weight: 600;
    }

    &__details {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 5px;
    }

    &__magic-number {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .magic-number  {
      &__title {
        margin-right: 10px;
        font-weight: 600;
      }
    }

    &__items {
      .items-wrapper {
        padding-left: 0;
        list-style: none;

        .item-container {
          margin-bottom: 10px;
        }

        .key, .item {
          &__title {
            font-weight: 600;
          }
        }
      }
    }

    .items {
      &__title {
        font-weight: 600;
      }
    }
  }

  .edit-btn-container {
    display: flex;
    align-self: flex-end;

    .edit-btn {
      @include blue-btn();
    }
  }
}